@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Contoso University</h2>
        <p>
            Contoso University is a top rated university in the country with 
            over 5000 graduated a year. If you're looking for variety of courses and programs, 
            come explore our campus and find one that is right for you.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Check out our Campus</h2>
        <p>The campus is located in eastern Idaho, you can set up a tour by clicking
        the link and exploring our site.
        </p>
        <p>
            <a class="btn btn-default"
               href="https://www.byui.edu/">
                Set up tour! &raquo;
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Contact Us</h2>
        <p>Click the link below to contact us with any question.</p>
        <p>
            <a class="btn btn-default"
               href="http://www.byui.edu/contact-us">
                Contact info &raquo;
            </a>
        </p>
    </div>
</div>